 body
{
  background-color: #F8F8FF;
  margin: 0;
  padding: 0;
}

.form
{
  text-align: center;
  width: 20%;
  padding-right: 250px;
  float: right;
  height: 60%;
}

.form form
{
  border: 2px solid grey;
  background: lightgrey;
  padding-top: 20px;
  padding-bottom: 30px;
}

table
{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  float: left;
  margin-left: 50px;
  /* margin-top: 60px; */
  border: 2px solid black;
}

#th2
{
  margin-left: 52px;
  margin-top: 80px;
}

#fh2
{
  padding-right: 50px;
}

td, th
{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd)
{
  background-color: #dddddd;
}

.btn
{
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
